{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["*.config.js"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    //"plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier" // Add "prettier" last. This will turn off eslint rules conflicting with prettier. This is not what will format our code.
  ],
  "rules": {
    // "@typescript-eslint/explicit-module-boundary-types": "off",
    // "import/no-anonymous-default-export": ["warn", { "allowObject": true }]
  }
}
